# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyd
*.so

# Virtual environments
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Data and artifacts
outputs/
checkpoints/
logs/

# OS files
.DS_Store
Thumbs.db
